* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

header {
    z-index: 1000;
    background-color: rgb(41, 41, 41);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    border-radius: 10px;
}

nav ul li a:hover {
    border-radius: 10px;
    color: #000;
}

nav ul li:hover > ul,
nav ul li.submenu-active > ul {
    display: flex;
    margin-left: -50px;
}

nav ul ul {
    text-align: center;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    padding-top: 1px;
}

nav ul ul li {
    width: 120px;
    padding-right: 5px;
    border-radius: 10px;

}

nav ul ul li a {
    margin-top: 10px;
    color: #fff;
    background-color: #e20;
    transition: background-color 0.3s;
}
nav ul ul li a:hover {
    background: rgb(197, 30, 0);
    border-radius: 10px;
}

nav ul li:hover > a {
    background: #e20;
    border-radius: 10px;
}

footer {
    background-color: rgb(41, 41, 41);
    color: #fff;
    margin-top: 146px;
    padding: 20px;
    text-align: center;
}

.center {
    margin-top: 134px;
    text-align: center;
}

#promotions {
    margin-top: 20px;
}

#promotions h2 {
    margin: 0;
    padding-bottom: 10px;
}

#promotions ul {
    list-style: none;
    padding: 0;
}

#promotions li {
    display: inline-block;
    width: 300px;
    margin-right: 80px;
    margin-bottom: 20px;
    vertical-align: top;
}

#promotions img {
    width: 100%;
}

#promotions h3 {
    margin: 10px 0;
}

#promotions p {
    margin: 5px 0;
}

#promotions a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
}

h3 {
    color: #fff;
}

p {
    color: #fff;
}